* {
    margin: 0;
    padding: 0;
}

body {
    display: block;
}

/* Header section */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#highscore {
    margin: 10px;
}

#timer {
    margin: 10px;
}

/* Main */
button {
    margin-top: 10px;
}

hr {
    margin: 10px 0;
}

main {

}

.block {
    display: block;
}

#finalScore {
    margin: 10px 0;
}

#gameEnd {
    margin: 10% 38%;
    text-align: left;
    display: block;
}

#questionsAnswers {
    margin: 10% 25%;
    text-align: center;
    display: none;
}

#startButton {

}

#welcome {
    margin: 10% 25%;
    text-align: center;
    display: none;
}

